:host {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.title-area, .text-area {
    grid-column: 1 / -1;
}

section {
    margin: 8px;
    padding: 4px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

textarea {
    border: transparent;
    outline: transparent;
}

.title-area {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    border: 1px solid lightgrey;
    margin: 4px;
    border-radius: 4px;
    padding-left: 6px;
    cursor: pointer;
}

li:hover {
    background-color: rgba(211, 211, 211, 0.5);
}

li.choosen {
    background-color: rgba(255, 0, 255, 0.205);
}