li {
    list-style: none;
    border: 1px solid lightgrey;
    margin: 4px;
    border-radius: 4px;
    padding-left: 6px;
    cursor: pointer;
}

li:hover {
    background-color: rgba(211, 211, 211, 0.5);
}

li.choosen {
    background-color: rgba(255, 0, 255, 0.205);
}