:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.movie {
    width: 200px;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 200px auto 1fr;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
}

.image {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    background-size: cover;
}

h1 {
    grid-row: 2;
    grid-column: 1;
    margin: 0px;
    font-size: 16px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
    padding: 6px;
    border-top: 2px solid white;
}

p {
    grid-row: 3;
    grid-column: 1;
    font-size: 12px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
    padding: 6px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
}