a: <input #inputA type="number">
b: <input #inputB type="number">
<hr>
<button (click)="calc(inputA.valueAsNumber, inputB.valueAsNumber)">Calc!</button>
<hr>
<ul>
  <li>{{a}} + {{b}} = {{sum}}</li>  
  <li>{{a}} - {{b}} = {{difference}}</li>  
  <li>{{a}} * {{b}} = {{product}}</li>  
</ul>

<!--

- `{{value}}` - Text Interpolation, for element content only
- `[directive]="value"` - Input binding for directives and input attributes
- `*directive="whatever" - for structural directives

- `(event)="action method"` - Output / Event binding for events

-->
